//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.chartNumAwesome = 0 - Количество голосов.
  options.chartNumGood = 0 - Количество голосов.
  options.chartNumNotbad = 0 - Количество голосов.
  options.chartNumDisappointed = 0 - Количество голосов.
  options.chartCountAll - Общее количество голосов.
  options.labelAwesome = 'Великолепно' - Подпись количества голосов (chartNumAwesome).
  options.labelGood = 'Хорошо' - Подпись количества голосов (chartNumGood).
  options.labelNotbad = 'Удовлетворительно' - Подпись количества голосов (chartNumNotbad).
  options.labelDisappointed = 'Разочарован' - Подпись количества голосов (chartNumDisappointed).

mixin chart(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.id
    - options.id = ''

  if !options.chartNumAwesome
    - options.chartNumAwesome = 0

  if !options.chartNumGood
    - options.chartNumGood = 0

  if !options.chartNumNotbad
    - options.chartNumNotbad = 0

  if !options.chartNumDisappointed
    - options.chartNumDisappointed = 0

  if !options.labelAwesome
    - options.labelAwesome = 'Великолепно'

  if !options.labelGood
    - options.labelGood = 'Хорошо'

  if !options.labelNotbad
    - options.labelNotbad = 'Удовлетворительно'

  if !options.labelDisappointed
    - options.labelDisappointed = 'Разочарован'

  
  div.chart.js-chart(class = options.classes, id = options.id, data-num-1 = options.chartNumAwesome, data-num-2 = options.chartNumGood, data-num-3 = options.chartNumNotbad, data-num-4 = options.chartNumDisappointed)
    div.chart__container
      div.chart__wrapper
        canvas.chart__picture.js-chart__picture
        if options.chartCountAll
          div.chart__count
            div.chart__count-number #{options.chartCountAll}
            div.chart__count-text голосов
      div.chart__legend
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_awesome
          span.chart__legend-text #{options.labelAwesome}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_good
          span.chart__legend-text #{options.labelGood}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_notbad
          span.chart__legend-text #{options.labelNotbad}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_disappointed
          span.chart__legend-text #{options.labelDisappointed}
