//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.chart_num_1 = 0 - Количество голосов.
  options.chart_num_2 = 0 - Количество голосов.
  options.chart_num_3 = 0 - Количество голосов.
  options.chart_num_4 = 0 - Количество голосов.
  options.chart_count_all - Общее количество голосов.
  options.label_1 = 'Великолепно' - Подпись количества голосов (chart_num_1).
  options.label_2 = 'Хорошо' - Подпись количества голосов (chart_num_2).
  options.label_3 = 'Удовлетворительно' - Подпись количества голосов (chart_num_3).
  options.label_4 = 'Разочарован' - Подпись количества голосов (chart_num_4).

mixin chart(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.id
    - options.id = ''

  if !options.chart_num_1
    - options.chart_num_1 = 0

  if !options.chart_num_2
    - options.chart_num_2 = 0

  if !options.chart_num_3
    - options.chart_num_3 = 0

  if !options.chart_num_4
    - options.chart_num_4 = 0

  if !options.label_1
    - options.label_1 = 'Великолепно'

  if !options.label_2
    - options.label_2 = 'Хорошо'

  if !options.label_3
    - options.label_3 = 'Удовлетворительно'

  if !options.label_4
    - options.label_4 = 'Разочарован'

  
  div.chart.js-chart(class = options.classes, id = options.id, data-num-1 = options.chart_num_1, data-num-2 = options.chart_num_2, data-num-3 = options.chart_num_3, data-num-4 = options.chart_num_4)
    div.chart__container
      div.chart__wrapper
        canvas.chart__picture.js-chart__picture
        if options.chart_count_all
          div.chart__count
            div.chart__count-number #{options.chart_count_all}
            div.chart__count-text голосов
      div.chart__legend
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_1
          span.chart__legend-text #{options.label_1}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_2
          span.chart__legend-text #{options.label_2}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_3
          span.chart__legend-text #{options.label_3}
        div.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_4
          span.chart__legend-text #{options.label_4}
