//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.chartNumAwesome = 0 - Количество голосов.
  options.chartNumGood = 0 - Количество голосов.
  options.chartNumNotbad = 0 - Количество голосов.
  options.chartNumDisappointed = 0 - Количество голосов.
  options.chartCountAll - Общее количество голосов.
  options.labelAwesome = 'Великолепно' - Подпись количества голосов (chartNumAwesome).
  options.labelGood = 'Хорошо' - Подпись количества голосов (chartNumGood).
  options.labelNotbad = 'Удовлетворительно' - Подпись количества голосов (chartNumNotbad).
  options.labelDisappointed = 'Разочарован' - Подпись количества голосов (chartNumDisappointed).

mixin chart(options = {})
  -
    const {
      classes = '',
      id = false,
      chartNumAwesome = 0,
      chartNumGood = 0,
      chartNumNotbad = 0,
      chartNumDisappointed = 0,
      labelAwesome = 'Великолепно',
      labelGood = 'Хорошо',
      labelNotbad = 'Удовлетворительно',
      labelDisappointed = 'Разочарован',
      chartCountAll = false,
    } = options;

  div.chart.js-chart(
    class = classes,
    id = id ? id : false
    data-num-1 = chartNumAwesome, 
    data-num-2 = chartNumGood, 
    data-num-3 = chartNumNotbad, 
    data-num-4 = chartNumDisappointed
  )
    div.chart__container
      div.chart__wrapper
        canvas.chart__picture.js-chart__picture
        if chartCountAll
          p.chart__count
            span.chart__count-number #{chartCountAll}
            span.chart__count-text голосов
      ul.chart__legend
        li.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_awesome
          span.chart__legend-text #{labelAwesome}
        li.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_good
          span.chart__legend-text #{labelGood}
        li.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_notbad
          span.chart__legend-text #{labelNotbad}
        li.chart__legend-item
          span.chart__legend-icon.chart__legend-icon_disappointed
          span.chart__legend-text #{labelDisappointed}
