extends ../base/base.pug

include ../../components/form-booking/form-booking
include ../../components/infographics/infographics
include ../../components/review/review
include ../../components/list/list
include ../../components/chart/chart

block headTags
  -
    const {
      title = "",
      discription = "",
      keywords = "",
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name="discription", content = discription)
  meta(name="keywords", content = keywords)

block content
  -
    const {
      gallery = false,
      optionsInfographics = false,
      chartCountAll = false,
      chartNumAwesome = false,
      chartNumGood = false,
      chartNumNotbad = false,
      chartNumDisappointed = false,
      reviews = false,
      rulesTitle = false,
      optionsRules = false,
      cancelTitle = false,
      cancelText = false,
      roomNumber = false,
      roomType = false,
      price = false,
      priceTime = false,
      listService = false,
      totalPrice = false,
    } = htmlWebpackPlugin.options.getData();

  - dataFooter.classes = 'footer_bordered_top';

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })
  +curtain({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    div.product
      if gallery
        section.product__gallery
          if gallery[0]
            - gallery[0] = require('@/pages/product/img/' + gallery[0]).default
            div.product__gallery-item.product__gallery-item_first(
              style = "background-image: url(" + gallery[0] + ");"
            )
          if gallery[1]
            - gallery[1] = require('@/pages/product/img/' + gallery[1]).default
            div.product__gallery-item.product__gallery-item_second(
              style = "background-image: url(" + gallery[1] + ");"
            )
          if gallery[2]
            - gallery[2] = require('@/pages/product/img/' + gallery[2]).default
            div.product__gallery-item.product__gallery-item_third(
              style = "background-image: url(" + gallery[2] + ");"
            )

        section.product__carousel.js-product__carousel.owl-carousel
          each src in gallery
            if src
              div.product__carousel-item(style="background-image: url(" + src + ");")

      div.product__body
        div.product__body-row
          div.product__body-col.product__body-col-1
            div.product__grid-3.product__grid-3_type_2
              section.product__grid-3-col.product__grid-3-col-1
                if optionsInfographics
                  h2.product__title Сведения о номере
                  - var index = 0
                  while index < optionsInfographics.items.length
                    - optionsInfographics.items[index].src = require('@/pages/product/img/' + optionsInfographics.items[index].src).default
                    - index++
                  +infographics(optionsInfographics)
              if chartCountAll
                section.product__grid-3-col.product__grid-3-col-2
                  h2.product__title Впечатления от номера
                  +chart({
                    chartCountAll: chartCountAll,
                    chartNumAwesome: chartNumAwesome,
                    chartNumGood: chartNumGood,
                    chartNumNotbad: chartNumNotbad,
                    chartNumDisappointed: chartNumDisappointed,
                  })
            
            if reviews
              section.product__section-reviews
                header.product__header-reviews
                  div.product__header-reviews-col
                    h2.product__title.product__title_theme_review Отзывы посетителей номера
                  div.product__header-reviews-col
                    span.product__text-count-reviews #{reviews.length} отзыва
                each reviewItem, index in reviews
                  div.product__review-wrapper
                    - reviewItem.avatar = require('@/pages/product/img/' + reviewItem.avatar).default
                    +review(reviewItem)

            div.product__grid-3
              section.product__grid-3-col.product__grid-3-col-1
                if rulesTitle
                  h2.product__title.product__title_theme_rules #{rulesTitle}
                if optionsRules
                  +list(optionsRules)
              section.product__grid-3-col.product__grid-3-col-2
                if cancelTitle
                  h2.product__title #{cancelTitle}
                if cancelText
                  p.product__text #{cancelText}

          div.product__body-col.product__body-col-2
            +form-booking({
              roomNumber: roomNumber,
              roomType: roomType,
              price: price,
              priceTime: priceTime,
              listService: listService,
              totalPrice: totalPrice
            })