include ../dropdown/dropdown
include ../air-datepicker/air-datepicker
include ../button/button
include ../card/card

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.roomNumber - Номер апартаментов.
  options.roomType - Тип апартаментов (люкс).
  options.price - Стоимость апартаментов.
  options.priceTime - Пометка "в сутки" или "в неделю".
  options.listService - Список услуг.
  options.listService[0].name - Название услуги.
  options.listService[0].price - Цена услуги.
  options.listService[0].tooltip - Подсказка.
  options.totalPrice - Итоговая стоимость.

mixin form-booking(options = {})
  -
    const {
      classes = '',
      id = false,
      roomNumber = '',
      roomType = false,
      price = '',
      priceTime = '',
      listService = false,
      totalPrice = false,
    } = options;

  section.form-booking(
    class = classes,
    id = id ? id : false
  )
    +card()
      header.form-booking__header
        div.form-booking__header-left
          span.form-booking__header-symbol №
          span.form-booking__header-number #{roomNumber}
          if roomType
            span.form-booking__header-type #{roomType}
        div.form-booking__header-right
          span.form-booking__header-price #{price}
          span.form-booking__header-price-type  #{priceTime}

      div.form-booking__dates-row
        div.form-booking__dates-col.form-booking_mb20
          +dropdown({
            classes: 'js-dropdown_dates-result',
            group: 'formBooking',
            targetId: '#dropdown-datepicker',
            inputParams: {
              label: "Прибытие",
              readonly: true,
              placeholder: "ДД.ММ.ГГГГ",
              classes: 'js-input_date_start',
            },
          })
        div.form-booking__dates-col.form-booking_mb20
          +dropdown({
            classes: 'js-dropdown_dates-result dropdown_dates dropdown_right-align',
            group: 'formBooking',
            id: 'dropdown-datepicker',
            inputParams: {
              label: "Выезд",
              readonly: true,
              placeholder: "ДД.ММ.ГГГГ",
              classes: 'js-input_date_end',
            },
          })
            +air-datepicker({
              classes: 'air-datepicker_inline',
              targetDropdown: '.js-dropdown_dates-result',
              minDate: 'today',
            })

      div.form-booking__block-wrapper.form-booking_mb20
        +dropdown({
          group: 'formBooking',
          inputParams:{
            label: "Гости",
            readonly: true,
            placeholder: "Сколько гостей"
          }
        })
          +list-counters({
            arrayCounters: [
              {
                label: "Взрослые",
                groupItemId: 1,
                textOneItems: 'гость',
                textTwoItems: 'гостя',
                textManyItems: 'гостей',
              },
              {
                label: "Дети",
                groupItemId: 1,
                textOneItems: 'гость',
                textTwoItems: 'гостя',
                textManyItems: 'гостей',
              },
              {
                label: "Младенцы",
                groupItemId: 2,
                textOneItems: 'младенец',
                textTwoItems: 'младенца',
                textManyItems: 'младенцев',
              },
            ],
          })

      if listService
        div.form-booking__block-wrapper.form-booking_mb20
          table.form-booking__table
            each item, index in listService
              tr
                td.form-booking__table-cell #{item.name}
                td.form-booking__table-cell.form-booking__table_px2
                  if item.tooltip
                    div.form-booking__tooltip(title = item.tooltip)
                td.form-booking__table-cell.form-booking__table-cell_price #{item.price}

      if totalPrice
        p.form-booking__bottom.form-booking_mb20
          span.form-booking__bottom-word Итого
          span.form-booking__bottom-points
          span.form-booking__bottom-price #{totalPrice}

      +button({text: "Забронировать", classes: "button_fill button_arrow-left button_wide"})