include ../dropdown/dropdown
include ../air-datepicker/air-datepicker
include ../button/button
include ../card/card

mixin form-booking(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.id
    - options.id = ''

  div.form-booking(class = options.classes, id = options.id)
    +card()
      div.form-booking__title.card_mb10
        div.form-booking__title-left
          span.form-booking__title-symbol № 
          span.form-booking__title-number #{options.room_number}
          if options.room_type
            span.form-booking__title-type  #{options.room_type}
        div.form-booking__title-right
          span.form-booking__title-price #{options.price}
          span.form-booking__title-price-type  #{options.price_time}
      
      div.card_mb20
        +dropdown({
          custom_content: true,
          classes: 'dropdown_dates',
          input_params: {
            label: "Прибытие",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
            classes: 'js-input_result-date-start'
          },
          input_params2: {
            label: "Выезд",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
            classes: 'js-input_result-date-end'
          },
        })
          +air-datepicker({classes: 'air-datepicker_inline'})

      div.card_mb20
        +dropdown({
          input_params:{
            label: "Гости",
            readonly: true
          },
          input_params:{
            value: "Сколько гостей"
          }
        })
          +list-counters({
            text_default: "Сколько гостей",
            text_one: " гость",
            text_many: " гостей",
            array_counters: [
              {label: "Взрослые", input_name: ""},
              {label: "Дети", input_name: ""},
              {label: "Младенцы", input_name: ""}
            ]
          })

      if options.list_service
        div.card_mb20
          table.form-booking__table
            each item, index in options.list_service
              tr
                td.form-booking__table-cell #{item.name}
                td.form-booking__table-cell.form-booking__table_px5 
                  if item.tooltip
                    div.form-booking__tooltip(title = item.tooltip)
                td.form-booking__table-cell.form-booking__table-cell_price #{item.price}

      if options.total_price
        div.form-booking__bottom.card_mb20
          span.form-booking__bottom-word Итого
          div.form-booking__bottom-points
          span.form-booking__bottom-price #{options.total_price}
      +button({text: "Забронировать", classes: "button_fill button_arrow-left button_wide"})