include ../logo/logo
include ../social-nets/social-nets
include ../input/input

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text1 - Текст под логотипом.
  options.menuItems - Массив колонок пунктов меню.
  options.menuItems[0].subtitle - Заголовок колонки.
  options.menuItems[0].items - Массив пунктов меню.
  options.menuItems[0].items.href - Ссылка.
  options.menuItems[0].items.name - Название страницы.
  options.title_subscribe - Заголовок формы с подпиской.
  options.text2 - Текст формы подписки.
  options.copyright_text - Текст об авторских правах.

mixin footer(options)
  if !options
    - options = {}

  if !options.menuItems
    - options.menuItems = []


  footer.footer
    div.footer__container.footer_desktop
      div.footer__up
        div.footer__col1
          div.footer_mb20(style="display: flex;")
            +logo()
          div.footer__text #{options.text1}
        
        div.footer__col2
          h3.footer__subtitle #{options.menuItems[0].subtitle}
          nav.footer__list
            each val, index in options.menuItems[0].items
              li.item
                a.link(href = val.href)= val.name
          
        div.footer__col3
          h3.footer__subtitle #{options.menuItems[1].subtitle}
          nav.footer__list
            each val, index in options.menuItems[1].items
              li.item
                a.link(href = val.href)= val.name
        
        div.footer__col4
          h3.footer__subtitle #{options.menuItems[2].subtitle}
          nav.footer__list
            each val, index in options.menuItems[2].items
              li.item
                a.link(href = val.href)= val.name
        
        div.footer__col5
          if options.title_subscribe
            h3.footer__subtitle #{options.title_subscribe}
          if options.text2
            div.footer__text.footer_mb20 #{options.text2}
          form(action="", method="post")
            +input({subscription: true, placeholder: 'Email'})

    div.footer__down.footer_desktop
      div.footer__container
        div.footer__down-wrapper
          if options.copyright_text
            p #{options.copyright_text}
          +social-nets()

    div.footer__container.footer_mobile
      div.footer__container-mobile
        div.footer_mb18(style="display: flex; justify-content: center;")
          +logo()
        if options.text1
          div.footer__text.footer_mb28 #{options.text1}
        +social-nets()