include ../logo/logo
include ../social-nets/social-nets
include ../input-text/input-text
include ../heading/heading
include ../form/subscription/subscription

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text1 - Текст под логотипом.
  options.menuItems - Массив колонок пунктов меню.
  options.menuItems[0].subtitle - Заголовок колонки.
  options.menuItems[0].items - Массив пунктов меню.
  options.menuItems[0].items.href - Ссылка.
  options.menuItems[0].items.name - Название страницы.
  options.titleSubscribe - Заголовок формы с подпиской.
  options.text2 - Текст формы подписки.
  options.copyrightText - Текст об авторских правах.

mixin footer(options = {})
  -
    const {
      classes = '',
      id = false,
      text1 = false,
      menuItems = [],
      titleSubscribe = false,
      text2 = false,
      copyrightText = false,
    } = options;

  footer.footer(
    class = classes, 
    id = id ? id : false
  )
    div.footer__container
      div.footer__main-content
        div.footer__main-content-col.footer__main-content-col_with-logo
          div.footer__logo-wrapper
            +logo()
          p.footer__text #{text1}
        
        div.footer__main-content-col.footer__main-content-col_with-nav
          if menuItems[0].subtitle
            div.footer__title-wrapper
              +heading({
                text: menuItems[0].subtitle,
                classes: 'heading_small',
              })
          nav.footer__list
            each val, index in menuItems[0].items
              a.footer__list-link(href = val.href) #{val.name}
          
        div.footer__main-content-col.footer__main-content-col_with-about
          if menuItems[1].subtitle
            div.footer__title-wrapper
              +heading({
                text: menuItems[1].subtitle,
                classes: 'heading_small',
              })
          nav.footer__list
            each val, index in menuItems[1].items
              a.footer__list-link(href = val.href) #{val.name}
        
        div.footer__main-content-col.footer__main-content-col_with-support
          if menuItems[2].subtitle
            div.footer__title-wrapper
              +heading({
                text: menuItems[2].subtitle,
                classes: 'heading_small',
              })
          nav.footer__list
            each val, index in menuItems[2].items
              a.footer__list-link(href = val.href) #{val.name}
        
        div.footer__main-content-col.footer__main-content-col_with-subscription
          if titleSubscribe
            div.footer__title-wrapper
              +heading({
                text: titleSubscribe,
                classes: 'heading_small',
              })
          if text2
            p.footer__text-subscription #{text2}
          +subscription()

    div.footer__copyright
      div.footer__copyright-wrapper
        if copyrightText
          p.footer__text-copyright #{copyrightText}
        +social-nets()