include ../logo/logo
include ../social-nets/social-nets
include ../heading/heading
include ../form/subscription/subscription

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.menuItems - Массив колонок пунктов меню.
  options.menuItems[0].subtitle - Заголовок колонки.
  options.menuItems[0].items - Массив пунктов меню.
  options.menuItems[0].items.href - Ссылка.
  options.menuItems[0].items.name - Название страницы.
  options.mainText - Текст под логотипом.
  options.subscriptionHeading - Заголовок формы с подпиской.
  options.subscriptionText - Текст формы подписки.
  options.copyrightText - Текст об авторских правах.

mixin footer(options = {})
  -
    const {
      defaultClasses = '',
      defaultId = false,
      defaultMenuItems = [],
      defaultMainText = false,
      defaultSubscriptionHeading = false,
      defaultSubscriptionText = false,
      defaultCopyrightText = false,
    } = htmlWebpackPlugin.options.getData('components/footer/data.json');
  -
    const {
      classes = defaultClasses,
      id = defaultId,
      menuItems = defaultMenuItems,
      mainText = defaultMainText,
      subscriptionHeading = defaultSubscriptionHeading,
      subscriptionText = defaultSubscriptionText,
      copyrightText = defaultCopyrightText,
    } = options;

  footer.footer.js-footer(
    class = classes, 
    id = id ? id : false
  )
    div.footer__main-content
      div.footer__logo
        div.footer__logo-wrapper
          +logo()
        p.footer__text #{mainText}
      
      div.footer__nav-items-menu
        if menuItems[0].subtitle
          div.footer__title-wrapper
            +heading({
              text: menuItems[0].subtitle,
              classes: 'heading_small',
            })
        nav.footer__list
          each val, index in menuItems[0].items
            if !val.href
              -val.href = '/mock-address/change-me'
            a.footer__list-link(href = val.href) #{val.name}
        
      div.footer__about-items-menu
        if menuItems[1].subtitle
          div.footer__title-wrapper
            +heading({
              text: menuItems[1].subtitle,
              classes: 'heading_small',
            })
        nav.footer__list
          each val, index in menuItems[1].items
            if !val.href
              -val.href = '/mock-address/change-me'
            a.footer__list-link(href = val.href) #{val.name}
      
      div.footer__support-items-menu
        if menuItems[2].subtitle
          div.footer__title-wrapper
            +heading({
              text: menuItems[2].subtitle,
              classes: 'heading_small',
            })
        nav.footer__list
          each val, index in menuItems[2].items
            if !val.href
              -val.href = '/mock-address/change-me'
            a.footer__list-link(href = val.href) #{val.name}
      
      div.footer__subscription
        if subscriptionHeading
          div.footer__title-wrapper
            +heading({
              text: subscriptionHeading,
              classes: 'heading_small',
            })
        if subscriptionText
          p.footer__text-subscription #{subscriptionText}
        +subscription()

    div.footer__copyright
      div.footer__copyright-wrapper
        if copyrightText
          p.footer__text-copyright #{copyrightText}
        div.footer__social-links
          +social-nets()