include ../logo/logo
include ../social-nets/social-nets
include ../input-text/input-text

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text1 - Текст под логотипом.
  options.menuItems - Массив колонок пунктов меню.
  options.menuItems[0].subtitle - Заголовок колонки.
  options.menuItems[0].items - Массив пунктов меню.
  options.menuItems[0].items.href - Ссылка.
  options.menuItems[0].items.name - Название страницы.
  options.titleSubscribe - Заголовок формы с подпиской.
  options.text2 - Текст формы подписки.
  options.copyrightText - Текст об авторских правах.

mixin footer(options = {})
  -
    const {
      classes = '',
      id = false,
      text1 = false,
      menuItems = [],
      titleSubscribe = false,
      text2 = false,
      copyrightText = false,
    } = options;

  footer.footer(
    class = classes, 
    id = id ? id : false
  )
    div.footer__container.footer_desktop
      div.footer__up
        div.footer__col1
          div.footer__logo-wrapper
            +logo()
          div.footer__text #{text1}
        
        div.footer__col2
          if menuItems[0].subtitle
            h3.footer__subtitle #{menuItems[0].subtitle}
          nav.footer__list
            each val, index in menuItems[0].items
              li.item
                a.link(href = val.href) #{val.name}
          
        div.footer__col3
          if menuItems[1].subtitle
            h3.footer__subtitle #{menuItems[1].subtitle}
          nav.footer__list
            each val, index in menuItems[1].items
              li.item
                a.link(href = val.href) #{val.name}
        
        div.footer__col4
          if menuItems[2].subtitle
            h3.footer__subtitle #{menuItems[2].subtitle}
          nav.footer__list
            each val, index in menuItems[2].items
              li.item
                a.link(href = val.href) #{val.name}
        
        div.footer__col5
          if titleSubscribe
            h3.footer__subtitle #{titleSubscribe}
          if text2
            div.footer__text.footer_mb20 #{text2}
          form(action="", method="post")
            +input-text({subscription: true, placeholder: 'Email'})

    div.footer__down.footer_desktop
      div.footer__container
        div.footer__down-wrapper
          if copyrightText
            p #{copyrightText}
          +social-nets()

    div.footer__container.footer_mobile
      div.footer__container-mobile
        div.footer_mb18(style="display: flex; justify-content: center;")
          +logo()
        if text1
          div.footer__text.footer_mb28 #{text1}
        +social-nets()