mixin footer(options)
	if !options
		- options = {}

	if !options.menuItems
		- options.menuItems = []


	footer.footer
		div.footer__container.footer_desktop
			div.footer__up
				div.footer__col1
					+logo().footer_mb21
					p #{options.text1}
				
				div.footer__col2
					h3.footer__subtitle.footer_mb21 #{options.menuItems[0].subtitle}
					nav.footer__list
						each val, index in options.menuItems[0].items
							li.item.footer_mb20
								a.link(href = val.href)= val.name
					
				div.footer__col3
					h3.footer__subtitle.footer_mb21 #{options.menuItems[1].subtitle}
					nav.footer__list
						each val, index in options.menuItems[1].items
							li.item.footer_mb20
								a.link(href = val.href)= val.name
				
				div.footer__col4
					h3.footer__subtitle.footer_mb21 #{options.menuItems[2].subtitle}
					nav.footer__list
						each val, index in options.menuItems[2].items
							li.item.footer_mb20
								a.link(href = val.href)= val.name
				
				div.footer__col5
					if options.title_subscribe
						h3.footer__subtitle.footer_mb21 #{options.title_subscribe}
					if options.text2
						p.footer_mb20 #{options.text2}
					form(action="", method="post")
						+input({subscription: true, placeholder: 'Email'})

		div.footer__down.footer_desktop
			div.footer__container
				div.footer__down-wrapper
					if options.copyright_text
						p #{options.copyright_text}
					+social-nets()

		div.footer__container.footer_mobile
			div.footer__container-mobile
				+logo().footer_mb20
				if options.text1
					p.text #{options.text1}
				+social-nets()