include ../../dropdown/dropdown
include ../../air-datepicker/air-datepicker
include ../../button/button
include ../../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.roomNumber - Номер апартаментов.
  options.roomType - Тип апартаментов (люкс).
  options.price - Стоимость апартаментов.
  options.priceTime - Пометка "в сутки" или "в неделю".
  options.listService - Список услуг.
  options.listService[0].name - Название услуги.
  options.listService[0].price - Цена услуги.
  options.listService[0].tooltip - Подсказка.
  options.totalPrice - Итоговая стоимость.

mixin room-reservation(options = {})
  -
    const {
      classes = '',
      id = false,
      roomNumber = '',
      roomType = false,
      price = '',
      priceTime = '',
      listService = false,
      totalPrice = false,
    } = options;

  form.room-reservation.js-room-reservation(
    class = classes,
    id = id ? id : false
  )
    div.room-reservation__room-info
      div.room-reservation__room-name
        span.room-reservation__symbol №
        span.room-reservation__room-number #{roomNumber}
        if roomType
          span.room-reservation__room-type #{roomType}
      div.room-reservation__room-price
        span.room-reservation__room-number-price #{price}
        span.room-reservation__room-payment-period  #{priceTime}

    div.room-reservation__dates-container
      div.room-reservation__input-dates-wrapper
        +dropdown({
          classes: 'js-dropdown_with-date-arrival dropdown_with-date-arrival',
          group: 'formBooking',
          targetId: '#dropdown-datepicker',
          inputParams: {
            label: "Прибытие",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
          },
        })
      div.room-reservation__input-dates-wrapper
        +dropdown({
          classes: 'js-dropdown_with-date-departure dropdown_with-date-departure dropdown_with-dates dropdown_align_right',
          group: 'formBooking',
          id: 'dropdown-datepicker',
          inputParams: {
            label: "Выезд",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
          },
        })
          +air-datepicker({
            classes: 'air-datepicker_inline',
            minDate: 'today',
          })

    div.room-reservation__input-wrapper
      +dropdown({
        group: 'formBooking',
        inputParams:{
          label: "Гости",
          readonly: true,
          placeholder: "Сколько гостей"
        }
      })
        +list-counters({
          arrayCounters: [
            {
              label: "Взрослые",
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: "Дети",
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: "Младенцы",
              groupItemId: 2,
              textOneItems: 'младенец',
              textTwoItems: 'младенца',
              textManyItems: 'младенцев',
            },
          ],
        })

    if listService
      div.room-reservation__table-wrapper
        table.room-reservation__table
          each item, index in listService
            tr
              td.room-reservation__table-cell.room-reservation__table-cell_with-tooltip #{item.name}
                if item.tooltip
                  div.room-reservation__tooltip(title = item.tooltip)
              td.room-reservation__table-cell.room-reservation__table-cell_with-price #{item.price}

    if totalPrice
      p.room-reservation__total-price-wrapper
        span.room-reservation__word Итого
        span.room-reservation__points
        span.room-reservation__total-price #{totalPrice}

    +button({
      text: "Забронировать",
      classes: "button_filled_blue-green-gradient button_theme_arrow button_wide",
      type: 'submit'
    })